# --- Data Security ---

data/raw/*
data/processed/*
data/external/*

!data/**/.gitkeep

# --- Python & Environment ---

venv/
.venv/
env/
__pycache__/
*.pyc

# --- IDE & Environment Variables ---
.env

.idea/
.DS_Store

# --- Jupyter Notebooks ---
.ipynb_checkpoints/
